<html>
    <body>
        <form action="{{url_for('addrec')}}"  method="POST">
            <h3> Billets</h3>
            Id <br>
            <input type="number" name="id"/><br>

            Price<br>
            <textarea type="text" name="price"></textarea><br>

            delivery time<br>
            <input type="text" name="delivery_time" /><br>

            needle size<br>
            <input type="number" name="needle_size" /><br>
            composition<br>
            <input type="text" name="composition" /><br>
            <input type="submit" value="submit" /><br>
        </form>

    </body>

</html>