<html>
<body>

<h2>Please select from below to select a column</h2>
  <form name="options" action="{{url_for('s_specific')}}"  method="POST">

  <label for="options">Choose a Column:</label>
    <select id="options" name="options">
      <option value="id">Id</option>
      <option value="price">price</option>
      <option value="delivery_time">delivery_time</option>
      <option value="needle_size">needle_size</option>
      <option value="composition">composition</option>
    </select>
    <br>
    Please enter the value to be selected:
    <input type="text" name="inputted"/>
    <br>
    <input type="submit">
  </form>

</body>
</html>
