<html>
<body>

<h2>Please select from below to update a column</h2>
  <form name="options" action="{{url_for('u_specific')}}"  method="POST">

  <label for="options">Choose a Column:</label>
    <select id="options" name="options">
      <option value="price">price</option>
      <option value="delivery_time">delivery time</option>
      <option value="needle_size">needle size</option>
      <option value="composition">composition</option>
    </select>
    <br>
    Please enter the Id of the row :
    <input type="text" name="id"/>
    <br>
    Please enter the value to be updated:
    <input type="text" name="inputted"/>
    <br>
    <input type="submit">
  </form>

</body>
</html>
